.containerStyles {
  height: 7.23px;
  width: 100%;
  background-color: #eceff5;
  border-radius: 50px;
  //   margin: 50px;
  //   background-color: red;
}

.fillerStyles {
  height: 100%;
  width: 45%;
  background-color: #ffb1b1;
  border-radius: 'inherit';
  text-align: 'right';
}

.labelStyles {
  padding: 5px;
  color: white;
  font-weight: 'bold';
}
