.money_go_list {
  //   width: 100%;
  padding: 20px 47.18px;
}

.money_go_heading {
  display: flex;
  justify-content: space-between;
}

.money_go_title {
  font-size: 18px;
}

.money_go_horizontal_line {
  border-bottom: 0.537255px solid #dedede;
  margin-bottom: 21px;
  margin-top: 20.48px;
}
