.bank_icon_container {
  height: 35.81px;
  width: 35.81px;
  border: 1.19355px solid #ffffff;
  overflow: hidden;
  border-radius: 40px;
  position: absolute;
  background-color: #fff;
}

.bank_icon_container img {
  height: 35.81px;
  width: 35.81px;
}
